@charset "UTF-8";



/* Configurações gerais */



* {
    margin: 0;
    padding: 0;
  }
  

  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #011126;
    height: 8vh;
  }
  

  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

    
  .nav-list.active {
    transform: translateX(0);
  }


  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  
  @media screen and  (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 60vh;
      background: #011126;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }

    .home{
        padding: 10% 10% ;
        margin: auto;
        display: flex;
        align-items: center;
        background: url("banco.jpeg") no-repeat center center;
        background-size: cover;
        height: 50vh;
        background-attachment: fixed;

    }

    .home-content{
        max-width: 600px;
        color: #fff;
        text-shadow: 0px 1px 1px #1b1b1b;

        
    }

    .home-content h1{
        
        font-size: 56px;
        text-shadow: 0, 4px,  8px #000000;
    }

    .home-content p{
        font-size: 24px;
        margin-top: 20px;
    }

    .services{
        height: 1000px;
        background-color:#074973 ;
    }

    .services h2{
        text-align: center;
        font-size: 36px;
        padding-top: 20px;
        color: #fff;
        text-shadow: 1px 4px 4px #000000;
    }

    .list_services{

      display: flex;
      font-size: 36px;
      text-align: center;
      color: #fff;
      justify-content: center;
      flex-direction: column;
      margin-top: 10%;

      
    }

    .refr{

      margin-bottom: 10%;

    }

    .electric{
      margin-bottom:  10%;

    }

    .tool{
      margin-bottom:  10%;

    }

    .refr img{
      width: 150px;
    }
    
    .electric img{

      width: 150px;
    }

    .tool img{

      widtH:150px;
    }

    .projetos{
      height: 2100px;
      display: flex;
      flex-direction: column;
      background-color:#e4e2e2 ;

    }

    .box_img{
      height:300px;

    }

    .box_text{

      height:350px;
      text-align: center;
      background-color: #e4e2e2;
      color:#011126;

    }

    .box_text >h3 {

      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
      font-size: 27px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    .box_text >p{
      position: absolute;
      font-size: 20px;
      text-align: center;
      width: 400px;
      left: 50%;
      transform: translate(-50%, 50%);
  
      
    }

    #ref_box_img{
      background: url("air-conditioner-1185041_640.jpg") center center no-repeat;
      background-size: cover;
    }
    #elec_box_img{
      background: url("electric-4198293_640.jpg") center center no-repeat;
      background-size: cover;
    }
    #manu_box_img{
      background: url("man-8180076_640.jpg") center center no-repeat;
      background-size: cover;
    }

    .contact {
      color: #fff;
      display: flex;
      background-color:#011126 ;
      justify-content: center;

    }


    .infos > div{
      margin-top:10%;
      margin-bottom: 10%;
    }

    

    .social_medias{
      display: flex;
      justify-content: center;
    }

    .social_medias > a {

      margin-right: 5%;
      margin-left: 5%;
    }

    .social_medias > a >img {
      height: 50px;
      width: 50px;
      background-image: cover;
      border-radius: 10px;
    }


    .gerenal_infos{
      text-align: center;
    }

    .gerenal_infos > p{
      margin-bottom: 5%;
      margin-top: 5%;
    }

    .maps {

      display: none;
    }


    footer{
      text-align: center;
      background-color: #000000;
      color: #fff;
    }

  }






  @media screen and (min-width:1000px) {
    .home{
        padding: 10% 10% ;
        margin: auto;
        display: flex;
        align-items: center;
        background: url("banco.jpeg") no-repeat center center;
        background-size: cover;
        height: 40vh;
        background-attachment: fixed;

    }

    .home-content{
        max-width: 600px;
        color: #fff;
        text-shadow: 0px 1px 1px #1b1b1b;

        
    }

    .home-content h1{
        
        font-size: 70px;
        text-shadow: 0, 4px,  8px #000000;
    }

    .home-content p{
        font-size: 24px;
        margin-top: 20px;
        text-align: justify;

    }
    .services{
        height: 500px;
        background-color:#074973 ;
  

    }

    .services h2 {

      text-align: center;
      font-size: 50px;
      padding-top: 20px;
      color: #fff;
      text-shadow: 1px 4px 4px #000000;
      width: 100%;

    }

    .list_services{
      display: flex;
      font-size: 36px;
      text-align: center;
      color: #fff;
      flex-direction: row;
      justify-content: center;
      margin-top: 5%;

    }

    .refr{

      margin: 20px;

    }

    .electric{

      margin: 20px;

    }

    .tool{

      margin: 20px;

    }

    .refr img{
      width: 150px;
    }
    
    .electric img{

      width: 150px;
    }

    .tool img{

      widtH:150px;
    }


    .projetos{
      height: 1000px;
      display: flex;
      flex-direction: column;
      background-color:#e4e2e2 ;

    }

    .refrigeracao{
      display: flex;
      flex-direction: row;
      height: 300px;
      
    }
    .eletrica{
      display: flex;
      flex-direction: row;
      height: 300px;
      
    }
    .manutencao{
      display: flex;
      flex-direction: row;
      height: 300px;
      
    }


    .box_text{
      height:300px;
      width: 300px;
      position: absolute;
      text-align: center;
      color:#011126 ;
      margin-top: 30px;

    }

    .box_text > h3{

      font-size: 28px;
      margin-bottom: 20px;

    }

    .box_text >p{

      font-size: 18px;

    }



    .box_img{
      border-radius: 5px;
    }

    #ref_box_img{

      background: url("air-conditioner-1185041_1280.jpg") center center;
      background-size: cover;
      width: 50vw;
      height:300px;
      position: absolute;
      left:0;

    }

    #elec_box_img{
      
      background: url("electric-4198293_1280.jpg") center center;
      background-size: cover;
      width: 50vw;
      height:300px;
      position: absolute;
      left:50%


    }

    #manu_box_img{
      
      background: url("man-8180076_1280.jpg") center center;
      background-size: cover;
      width: 50vw;
      height:300px;
      position: absolute;
      left:0
    }

    #box_text1{
      position: absolute;
      left: 50%;
      transform: translate(50%,0);

    }

    #box_text2{
      position: absolute;
      left: 0;
      transform: translate(50%,0);

    }

    #box_text3{
      position: absolute;
      left: 50%;
      transform: translate(50%,0);

    }
  







    .contact {
      color: #fff;
      display: flex;
      background-color:#011126 ;
      justify-content: center;
      height: 300px;

    }


    .infos > div{
      margin-top:10%;
      margin-bottom: 10%;
    }

    

    .social_medias{
      display: flex;
      justify-content: center;
    }

    .social_medias > a {

      margin-right: 5%;
      margin-left: 5%;
    }

    .social_medias > a >img {
      height: 50px;
      width: 50px;
      background-image: cover;
      border-radius: 10px;
    }


    .gerenal_infos{
      text-align: center;
    }

    #inf{

      margin-left: 5%;
      margin-right: 5%;
    }

    .gerenal_infos > p{
      margin-bottom: 5%;
      margin-top: 5%;
    }

    .maps {

      display: block;

      margin-top: 20px;
      

    }


    footer{
      text-align: center;
      background-color: #000000;
      color: #fff;
      height: 5vh;
    }

  }


  
  

  

  
